<template>
  <input id="datepicker" />
</template>

<script>
require('jquery-ui/ui/widgets/datepicker')
require('jquery-ui/themes/base/all.css')

export default {
  name: 'DatePicker',

  props: ['dateFormat'],

  mounted () {
    let self = this
    $(this.$el).datepicker({
      dateFormat: this.dateFormat,
      onSelect: function (date) {
        self.$emit('update-date', date)
      }
    })
  },

  beforeDestroy () {
    $(this.$el).datepicker('hide').datepicker('destroy')
  }
}
</script>

<style scoped>

</style>
