<template>
  <div id="app">
    <DatePicker @update-date="updateDate" date-format="yy-mm-dd" v-once />
    <p>{{date}}</p>
  </div>
</template>

<script>
import DatePicker from './components/DatePicker'

export default {
  name: 'app',
  components: {
    DatePicker
  },

  data () {
    return {
      date: null
    }
  },

  methods: {
    updateDate (date) {
      this.date = date
    }
  }
}
</script>

<style>

</style>
